/** @format */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
$primary-color: #f53a57;
$primary-color2: #1e1d4e;
$primary-color3: #3c195c;
$secondary-color: #34d5eb;
$secondary-color2: #2c9ead;
$dark-color: #0d141f;
$light-color: #525861;
$text-color: #f5f6fa;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$font-family: "Nunito";
$font-Sizes: (
  "extra-small": 13px,
  "small": 16px,
  "medium": 18px,
  "large": 20px,
  "extra-large": 22px,
);

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background: white;
  position: absolute;

  font-size: map-get($font-Sizes, medium);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.container {
  width: 40%;
  height: 100%;
}
.dropDownContainer {
  height: 20%;
  padding-top: 50px;
}

.selected {
  background: $primary-color;
  border-radius: 10px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
  transition: all 0.6s;
}

.selected::after {
  content: "\f107";
  font-family: FontAwesome;
  font-size: 22px;
  position: absolute;
  right: 20px;
  transition: all 0.6s;
}

.select-box {
  display: flex;
  width: 270px;
  flex-direction: column;
  .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  .option:hover {
    background: $secondary-color2;
  }
  label {
    cursor: pointer;
  }
  .option .radio {
    display: none;
  }
  .options-container {
    background: $secondary-color;
    color: $dark-color;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 10px;
    overflow: hidden;
    order: 1;
  }
  .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    + .selected::after {
      transform: rotateX(180deg);
    }
    + .selected {
      background-color: $primary-color2;
    }
  }
}
.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: $primary-color2;
  border-radius: 0 10px 10px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: $secondary-color2;
  border-radius: 0 10px 10px 0;
}

//Toggle Buttons
.toggleContainer {
  width: 50%;
  height: 100%;
}

.mainContainer {
  height: 30%;
  width: 100%;
  padding: 100px;
}
.checkbox {
  width: 250px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50px;
  -webkit-appearance: none;
  border: none;
  outline: none;
  transition: ease 0.3s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: #404547 10px solid;
  &:checked {
    border: $primary-color3 10px solid;
    &:before {
      left: 250px;
      background-color: $primary-color3;
      box-shadow: $primary-color3 1px 1px 25px;
    }
  }
  &:before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    top: 100px;
    left: 100px;
    background-color: #404547;
    transform: scale(1.3);
    transition: ease 0.5s;
  }
}
.mainContainer2 {
  height: 70%;
  width: auto;
  padding: 100px;
}
.checkbox2 {
  width: 250px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50px;
  -webkit-appearance: none;
  border: none;
  outline: none;
  transition: ease 0.3s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: rgb(165, 163, 163);
  &:checked {
    background-color: $secondary-color;
    &:before {
      left: 250px;
      box-shadow: #03a9fa 1px 1px 25px;
    }
  }
  &:before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    left: 100px;
    background-color: white;
    transform: scale(1.3);
    transition: left ease 0.5s, box-shadow ease-in-out 0.5s;
  }
}

//Loader

$width: 15px;
$height: 15px;
$bounce_height: 34px;

.wrap {
  // position: absolute;
  display: flex;
  justify-content: center;
  width: 30%;
  height: 100%;
  top: 200px;
  flex-direction: column;
}

.text {
  display: flex;
  display: inline-block;
  margin-left: 15px;
  height: 40px;
  justify-content: center;
  align-items: baseline;
  width: 200px;
  padding-top: 20px;
  font-weight: map-get($font-weights, bold);
}
.loading {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 50%;
  // justify-content: center;
  align-content: center;
  align-items: center;
}
.bounceball {
  position: relative;
  display: inline-block;

  height: 37px;
  width: $width;
  &:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: lightcoral;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

@keyframes bounce {
  0% {
    top: $bounce_height;
    height: 8px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: $height;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

///Button

.buttonContainer {
  display: flex;
  width: 100%;
  height: 50%;
}

.buttonWrapper {
  width: 200px;
  height: 40px;
  background-color: #e1e7f5;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .text2 {
    opacity: 0;
    font-size: map-get($font-Sizes, extra-small);
    position: absolute;
    transition: all 1s ease;
    vertical-align: middle;
    text-align: center;
  }
}
.button {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  // background-color: #a011a0;
  border-radius: 50px;
  transition: all 1s ease;
  position: relative;
  width: inherit;
  color: white;
  background: #2929f9;
  .text1 {
    width: auto;
  }
}
.buttonWrapper:hover {
  .button {
    transform: translate(-200px);
  }
  .text2 {
    opacity: 1;
    transform: scale(1.3);
  }
}

//3dTransformation Section
